.btn-warning{
    background-color: rgb(202, 157, 237);
    border-color: rgb(202, 157, 237);
}
.btn-warning:hover{
    background-color: rgb(185, 118, 237);
}

.custom-bg { /* 使用自定義背景類 */
    background-color: rgb(27, 25, 24);
}

#my_camera {
    position: relative;
    width: 320px; /* 設置寬度以適應視頻 */
    height: 240px; /* 設置高度以適應視頻 */
    overflow: hidden;
    border-radius: 10px;
}

#distanceInfo {
    position: absolute;
    bottom: 10px;  /* 距離底部 10 像素 */
    right: 10px;   /* 距離右邊 10 像素 */
    color: rgb(12, 12, 12);  /* 文字顏色 */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em; /* 調整字體大小 */
    background-color: rgba(17, 16, 16, 0.7); /* 添加半透明背景以增強可讀性 */
}